@import "tailwindcss";

*{
  box-sizing: border-box;
}
body{
  width: 100%;
  min-height: 100lvh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
}

body::-webkit-scrollbar-thumb,
.mobile-menu-ul::-webkit-scrollbar-thumb{
  background-color: #333;
  border-radius: 10px;
}
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track,
.mobile-menu-ul::-webkit-scrollbar-track{
  background-color: transparent;
}
.mobile-menu-ul::-webkit-scrollbar-thumb{
  background-color: #ccc;
}
.mobile-menu-ul::-webkit-scrollbar{
  width: 5px;
}
a{
    color: #000;
    text-decoration: none;
}


.innovateCard:hover{
  .innovateCardBox{
    position: absolute;
    aspect-ratio: 3/4;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    justify-content: space-between;
  }
}

.hero-link:hover{
  color: #fff ;
}
.bg-black-btn:hover{
  color: #000;
}

.group li:hover a{
  text-decoration: underline;
  text-underline-offset: 5px;
}

main section:first-child{
  h1,p{
    text-shadow: 0 0 25px black;
  }
}
#contact-section , .hero-section ,.footer-pages{
  h1,p{
    text-shadow: unset;  
  }
}