@import "tailwindcss";

*{
  box-sizing: border-box;
}
body{
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
}

body::-webkit-scrollbar-thumb,
.mobile-menu-ul::-webkit-scrollbar-thumb{
  background-color: #333;
  border-radius: 10px;
}
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track,
.mobile-menu-ul::-webkit-scrollbar-track{
  background-color: transparent;
}
.mobile-menu-ul::-webkit-scrollbar-thumb{
  background-color: #ccc;
}
.mobile-menu-ul::-webkit-scrollbar{
  width: 5px;
}
